= form_for @ad do |f|
  -if @ad.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ad.errors.count, "error")} prohibited this ad from being saved:"
      %ul
        - @ad.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :contents
    = f.text_area :contents
  .field
    = f.label :ad_group_id
    = f.text_field :ad_group_id
  .field
    = check_box_tag "all", "all", @ad.locations.count == Location.count
    All
    - Location.all.each do |location|
      = check_box_tag "ad[location_ids][]", location.id, @ad.locations.include?(location), :class => "select-all"
      = location.name
  .actions
    = f.submit 'Save'
