= devise_error_messages!
#steps
  = hidden_field_tag :recaptcha_error, @recaptcha_error
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :class => "registration" }) do |f|
    %fieldset.step
      %legend
        Account
      %p
        = f.label :email, "My e-mail address is"
        = f.text_field :email, :placeholder => "username@email.com", :class => "required", :"data-message" => "You will use your email address to log in to your account", :"data-unique" => "/members/unique/email/"
      %p
        = f.label :email_confirmation, "Please re enter e-mail"
        = f.text_field :email_confirmation, :class => "required confirmable"
      %p
        = f.label :password
        = f.password_field :password, :class => "required", :"data-message" => "Needs to be between 6 to 20 characters"
      %p
        = f.label :password_confirmation, "Re Enter Password"
        = f.password_field :password_confirmation, :class => "required confirmable"
      %p
        = f.label :profile_name, "Profile URL"
        - if resource.new_record?
          = f.text_field :profile_name, :class => "required mirror-typing", :"data-message" => "miss.rockstaruproar.com/profile/", :"data-unique" => "/members/unique/profile_name/"
        - else
          = #resource.member_summary.profile_name
      /= f.fields_for :member_summary do |ff|
      /%p
      /  = ff.label :location
      /  = ff.select("location_id", Location.all.collect {|l| [ "#{l.city}, #{l.state}", l.id ] })
      %p
        Fields that are NOT required and that you do not fill out will not be displayed on your profile. Your personal and contact information WILL NOT be displayed on your profile.
    %fieldset.step
      %legend
        Details
      %p
        Please make sure enter your information correctly! If your information is not entered correctly we may not be able to contact you for important details about the promotion or notify if you're a finalist.  Please make sure you fill in the appropriate boxes and double-check for typos and other errors.
      %p
        = f.label :first_name
        = f.text_field :first_name, :class => "required"
      %p
        = f.label :last_name
        = f.text_field :last_name, :class => "required"
      = f.fields_for :member_summary do |ff|
        %p
          = ff.label :date_of_birth
          = ff.text_field :date_of_birth, :class => "required birthday-picker"
        %p
          = ff.label :relationship_status
          = ff.select :relationship_status, build_relationship_options, :prompt => "Please Select"
        %p
          = ff.label :address, "Address 1"
          = ff.text_field :address, :class => "required", :"data-message" => "(Street address, P.O. box, company name, c/o)"
        %p
          = ff.label :address_more, "Address 2"
          = ff.text_field :address_more, :"data-message" => "(Apartment, suite, unit, building, floor, etc.)"
        %p
          = ff.label :city
          = ff.text_field :city, :class => "required"
        %p
          = ff.label :state
          = ff.select :state, Carmen::states, { :prompt => "Please Select" }, :class => "required"
        %p
          = ff.label :zip_code
          = ff.text_field :zip_code, :class => "required"
        %p
          = ff.label :cell_phone
          = ff.text_field :cell_phone, :class => "required phone", :"data-message" => "ex: 123-456-7890"
        %p
          = ff.label :telephone, "Secondary Phone"
          = ff.text_field :telephone, :class => "phone"
        %p
          = ff.label :facebook_url
          = ff.text_field :facebook_url, :"data-message" => "This is only for us to contact you and will not be published"
    %fieldset.step
      %legend
        Attributes
      = f.fields_for :member_summary do |ff|
        %p
          = ff.label :height
          = ff.select :height_feet, 4..7, { :prompt => " - " }, :class => "required small"
          = ff.select :height_inches, 0..11, { :prompt => " - " }, :class => "required small"
        %p
          = ff.label :weight
          = ff.text_field :weight, :class => "required"
        %p
          = ff.label :eyes, "Eye color"
          = ff.select :eyes, ['Blue','Green','Hazel','Brown','Other'], :prompt => "Please Select", :class => "required select-other"
        %p
          = ff.label :ethnicity
          = ff.select :ethnicity, ['Caucasian', 'African American', 'Asian', 'Hispanic', 'Other', 'Decline to State'], :prompt => "Please Select", :class => "required select-other"
        %p
          = ff.label :hair_color
          = ff.text_field :hair_color, :class => "required"
        %p
          = ff.label :bust
          = ff.select :bust, build_bust_options, :prompt => "Please Select"
        %p
          = ff.label :waist
          = ff.select :waist, build_waist_options, :prompt => "Please Select"
        %p
          = ff.label :hips
          = ff.select :hips, build_hips_options, :prompt => "Please Select"
        %p
          = ff.label :piercings
          %span.radios
            Yes
            = ff.radio_button :piercings, :yes
            No
            = ff.radio_button :piercings, :no
          %br/
          %br/
          = ff.label :piercing_description, "If yes, please describe what and where:", :class => "smaller-line"
          = ff.text_field :piercing_description
        %p
          = ff.label :tattoos
          %span.radios
            Yes
            = ff.radio_button :tattoos, :yes
            No
            = ff.radio_button :tattoos, :no
          %br/
          %br/
          = ff.label :tattoo_description, "If yes, please describe what and where:", :class => "smaller-line"
          = ff.text_field :tattoo_description
    %fieldset.step
      %legend
        Interests
      %p
        We want to know more about you! Please tell us some of your interests below so you can stand out in this competition!
      = f.fields_for :member_summary do |ff|
        %p
          = ff.label :experience
          = ff.text_area :experience, :"data-message" => "Please tell us a little bit about yourself and your modeling career. Tell us why should you be Miss UPROAR 2011!"
        %p
          = ff.label :first_concert
          = ff.text_field :first_concert
        %p
          = ff.label :last_concert
          = ff.text_field :last_concert
        %p
          = ff.label :top_bands_1, "Top Bands 1"
          = ff.text_field :top_bands_1
        %p
          = ff.label :top_bands_2, "Top Bands 2"
          = ff.text_field :top_bands_2
        %p
          = ff.label :top_bands_3, "Top Bands 3"
          = ff.text_field :top_bands_3
        %p
          = ff.label :favorite_song
          = ff.text_field :favorite_song
        %p
          = ff.label :favorite_sport
          = ff.text_field :favorite_sport
        %p
          = ff.label :talent, "Unique talent that separates you from the other contestants", :class => "smaller-line"
          = ff.text_area :talent, :rows => 4, :class => "top-margin"
    %fieldset.step
      %legend
        Photos
      %p.left
        Please upload 3 photos to be displayed and rated on your profile.  Photo 1 will be the default on your profile. You also have the option to credit your photographer for their amazing work!
      - i = 0
      = f.fields_for :pictures do |ff|
        %p
          - unless resource.new_record?
            = image_tag resource.pictures[i].image.url(:thumb)
            = "Credit - #{resource.pictures[i].credit}"
          - i += 1
          = ff.label :image, "Photo #{i}"
          - if resource.new_record?
            = ff.file_field :image, :class => "required select-other"
            = ff.label :credit
            = ff.text_field :credit
      %p.left
        Just one click away and you're done! Thank you for taking the time to enter the 2011 Miss UPROAR model search! Good Luck!
        %br
        %br
        Images must be less than 10MB. JPEG and PNG files accepted.
      - if resource.new_record?
        = f.fields_for :member_summary do |ff|
          %p.left
            = ff.check_box :staffing
            I would like to be contacted for future promotional modeling opportunities.
      %p.left
        = check_box_tag :accept_ror, 'yes', false, :class => 'required-for-submit'
        I agree to the
        = link_to("Miss UPROAR Rules and Regulations", "", {:target => "_blank"})
        %br/
        %br/
        = check_box_tag :accept_tc, 'yes', false, :class => 'required-for-submit'
        I agree to the
        = link_to("Miss UPROAR Terms and Conditions", "", {:target => "_blank"})
      = recaptcha_tags
      %p.submit
        = f.submit "Register", :id => "register-button", :class => "hidden"
