= devise_error_messages!
#steps
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :class => "registration" }) do |f|
    %fieldset.step
      %legend
        Account
      %p
        = f.label :email
        = f.text_field :email, :placeholder => "username@email.com"
      %p
        = f.label :email_confirmation
        = text_field_tag :email_confirmation, :class => "confirmable"
      %p
        = f.label :password
        = f.password_field :password
      %p
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      %p
        = f.label :profile_name
        = f.text_field :profile_name
      /= f.fields_for :member_summary do |ff|
      /%p
      /  = ff.label :location
      /  = ff.select("location_id", Location.all.collect {|l| [ "#{l.city}, #{l.state}", l.id ] })
    %fieldset.step
      %legend
        Details
      %p
        = f.label :first_name
        = f.text_field :first_name
      %p
        = f.label :last_name
        = f.text_field :last_name
      = f.fields_for :member_summary do |ff|
        %p
          = ff.label :date_of_birth
          = ff.text_field :date_of_birth
        %p
          = ff.label :relationship_status
          = ff.select :relationship_status, build_relationship_options, :prompt => "Please Select"%p
        %p
          = ff.label :address
          = ff.text_field :address
        %p
          = ff.label :city
          = ff.text_field :city
        %p
          = ff.label :state
          = ff.select :state, Carmen::states, :prompt => "Please Select"
        %p
          = ff.label :zip_code
          = ff.text_field :zip_code
        %p
          = ff.label :telephone
          = ff.text_field :telephone
        %p
          = ff.label :facebook_url
          = ff.text_field :facebook_url
    %fieldset.step
      %legend
        Attributes
      = f.fields_for :member_summary do |ff|
        %p
          = ff.label :height
          = ff.text_field :height
        %p
          = ff.label :weight
          = ff.text_field :weight
        %p
          = ff.label :hair_color
          = ff.text_field :hair_color
        %p
          = ff.label :bust
          = ff.select :bust, build_bust_options, :prompt => "Please Select"
        %p
          = ff.label :waist
          = ff.select :waist, build_waist_options, :prompt => "Please Select"
        %p
          = ff.label :hips
          = ff.select :hips, build_hips_options, :prompt => "Please Select"
        %p
          = ff.label :piercings
          %span.radios
            Yes
            = ff.radio_button :piercings, :yes
            No
            = ff.radio_button :piercings, :no
          %br/
          %br/
          = ff.label :piercing_description, "If yes, please describe what and where:", :class => "smaller-line"
          = ff.text_field :piercing_description
        %p
          = ff.label :tattoos
          %span.radios
            Yes
            = ff.radio_button :tattoos, :yes
            No
            = ff.radio_button :tattoos, :no
          %br/
          %br/
          = ff.label :tattoo_description, "If yes, please describe what and where:", :class => "smaller-line"
          = ff.text_field :tattoo_description
    %fieldset.step
      %legend
        Interests
      = f.fields_for :member_summary do |ff|
        %p
          = ff.label :first_concert
          = ff.text_field :first_concert
        %p
          = ff.label :last_concert
          = ff.text_field :last_concert
        %p
          = ff.label :top_bands
          = ff.text_field :top_bands
        %p
          = ff.label :favorite_song
          = ff.text_field :favorite_song
        %p
          = ff.label :favorite_sport
          = ff.text_field :favorite_sport
        %p
          = ff.label :talent, "Unique talent that separates you from the other contestants", :class => "smaller-line"
          = ff.text_field :talent, :class => "top-margin"
    %fieldset.step
      %legend
        Photos
      %p.left
        Please upload 3 photos that will be displayed and rated on your profile.
        br/
        br/
        Images must be less than 10MB. JPEG and PNG files accepted.
      - i = 0
      = f.fields_for :pictures do |ff|
        %p
          - unless resource.new_record?
            = image_tag resource.pictures[i].image.url(:thumb)
          - i += 1
          = ff.label :image, "Photo #{i}"
          = ff.file_field :image
    %fieldset.step
      %legend
        Confirm
      %p.left
        If everything in the form has been correctly filled in, the steps below will all have a green checkmark. A red checkmark indicates that something has been left blank.
      %p.left
        = check_box_tag :accept_ror, 'yes', false, :class => 'required-for-submit'
        I agree to the
        = link_to("Miss UPROAR Rules and Regulations", "", {:target => "_blank"})
        %br/
        %br/
        = check_box_tag :accept_tc, 'yes', false, :class => 'required-for-submit'
        I agree to the
        = link_to("Miss UPROAR Terms and Conditions", "", {:target => "_blank"})
      %p.submit
        = f.submit "Register", :id => "register-button", :class => "hidden"
      %p
        = render :partial => "devise/shared/links"