- content_for :error do
  = error_messages!
#steps
  = hidden_field_tag :recaptcha_error, @recaptcha_error
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :class => "registration" }) do |f|
    - i_size = 200
    %fieldset.step
      %legend
        Verify
      = f.fields_for :member_summary do |ff|
        %p
          = ff.label :date_of_birth
          = ff.text_field :date_of_birth, :class => "required birthday-picker", :maxlength => i_size
    %fieldset.step
      %legend
        Account
      %p
        = f.label :email, "My e-mail address is"
        = f.text_field :email, :placeholder => "username@email.com", :class => "required", :"data-message" => t("form.email_note"), :"data-unique" => "/members/unique/email/", :maxlength => i_size
      - if resource.new_record?
        %p
          = f.label :email_confirmation, "Please re enter e-mail"
          = f.text_field :email_confirmation, :class => "required confirmable", :maxlength => i_size
      - if resource.new_record?
        %p
          = f.label :password
          = f.password_field :password, :class => "required", :"data-message" => t("form.password_confirmation_note"), :maxlength => i_size
        %p
          = f.label :password_confirmation, "Re Enter Password"
          = f.password_field :password_confirmation, :class => "required confirmable", :maxlength => i_size
      %p
        Profile URL will be the url your fans use to view your profile for this contest.  Please do not put your facebook or any other url here.  Most contestants are choosing to enter their first name or nickname!

      %p
        = f.label :profile_name, "Profile URL"
        - if resource.new_record?
          = f.text_field :profile_name, :class => "required mirror-typing", :"data-message" => t("form.profile_url_note"), :"data-unique" => "/members/unique/profile_name/", :maxlength => i_size
        - else
          = link_to "#{t("form.profile_url_note")}#{resource.profile_name}", "http://#{t("form.profile_url_note")}#{resource.profile_name}"
      = f.fields_for :member_summary do |ff|
        %p
          = ff.label :location, "Market"
          = ff.select "location_id", Location.active.collect {|l| [ "#{l.city}, #{l.state}", l.id ] }, { :prompt => "Please Select" }, :class => "required"
      %p
        = t "form.fields_note"
    %fieldset.step
      %legend
        Details
      %p
        = t "form.correct_info_note"
      %p
        = f.label :first_name
        = f.text_field :first_name, :class => "required", :maxlength => i_size
      %p
        = f.label :last_name
        = f.text_field :last_name, :class => "required", :maxlength => i_size
      = f.fields_for :member_summary do |ff|
        %p
          = ff.label :relationship_status
          = ff.select :relationship_status, build_relationship_options, :prompt => "Please Select"
        %p
          = ff.label :address, "Address 1"
          = ff.text_field :address, :class => "required", :"data-message" => t("form.address_1_note"), :maxlength => i_size
        %p
          = ff.label :address_more, "Address 2"
          = ff.text_field :address_more, :"data-message" =>  t("form.address_2_note"), :maxlength => i_size
        %p
          = ff.label :city
          = ff.text_field :city, :class => "required", :maxlength => i_size
        %p
          = ff.label :state
          = ff.select :state, build_states_list, { :prompt => "Please Select" }, :class => "required"
        %p
          = ff.label :zip_code
          = ff.text_field :zip_code, :class => "required", :maxlength => i_size
        %p
          = ff.label :cell_phone
          = ff.text_field :cell_phone, :class => "required", :"data-message" => t("form.phone_note"), :maxlength => i_size
        %p
          = ff.label :telephone, "Secondary Phone"
          = ff.text_field :telephone, :maxlength => i_size
        %p
          = ff.label :facebook_url
          = ff.text_field :facebook_url, :"data-message" => t("form.facebook_note"), :maxlength => i_size
    %fieldset.step
      %legend
        Attributes
      = f.fields_for :member_summary do |ff|
        %p
          = ff.label :height
          = ff.select :height_feet, 4..7, { :prompt => " - " }, :class => "required small"
          = ff.select :height_inches, 0..11, { :prompt => " - " }, :class => "required small"
        %p
          = ff.label :weight
          = ff.text_field :weight, :class => "required", :maxlength => i_size
        %p
          = ff.label :eyes, "Eye color"
          = ff.select :eyes, ['Blue','Green','Hazel','Brown','Other'], :prompt => "Please Select", :class => "required select-other"
        %p
          = ff.label :ethnicity
          = ff.select :ethnicity, ['Caucasian', 'African American', 'Asian', 'Hispanic', 'Other', 'Decline to State'], :prompt => "Please Select", :class => "required select-other"
        %p
          = ff.label :hair_color
          = ff.text_field :hair_color, :class => "required", :maxlength => i_size
        %p
          = ff.label :bust
          = ff.select :bust, build_bust_options, :prompt => "Please Select"
        %p
          = ff.label :waist
          = ff.select :waist, build_waist_options, :prompt => "Please Select"
        %p
          = ff.label :hips
          = ff.select :hips, build_hips_options, :prompt => "Please Select"
        %p
          = ff.label :piercings
          %span.radios
            Yes
            = ff.radio_button :piercings, :yes
            No
            = ff.radio_button :piercings, :no
          %br/
          %br/
          = ff.label :piercing_description, "If yes, please describe what and where:", :class => "smaller-line"
          = ff.text_field :piercing_description
        %p
          = ff.label :tattoos
          %span.radios
            Yes
            = ff.radio_button :tattoos, :yes
            No
            = ff.radio_button :tattoos, :no
          %br/
          %br/
          = ff.label :tattoo_description, "If yes, please describe what and where:", :class => "smaller-line"
          = ff.text_field :tattoo_description
    %fieldset.step
      %legend
        Interests
      %p
        = t("form.know_more_note")
      = f.fields_for :member_summary do |ff|
        %p
          = ff.label :experience
          = ff.text_area :experience, :"data-message" => t("form.experience_note")
        %p
          = ff.label :first_concert
          = ff.text_field :first_concert, :maxlength => i_size
        %p
          = ff.label :last_concert
          = ff.text_field :last_concert, :maxlength => i_size
        %p
          = ff.label :top_bands_1, "Top Bands 1"
          = ff.text_field :top_bands_1, :maxlength => i_size
        %p
          = ff.label :top_bands_2, "Top Bands 2"
          = ff.text_field :top_bands_2, :maxlength => i_size
        %p
          = ff.label :top_bands_3, "Top Bands 3"
          = ff.text_field :top_bands_3, :maxlength => i_size
        %p
          = ff.label :favorite_song
          = ff.text_field :favorite_song, :maxlength => i_size
        %p
          = ff.label :favorite_sport
          = ff.text_field :favorite_sport, :maxlength => i_size
        %p
          = ff.label :talent, "Unique talent that separates you from the other contestants", :class => "smaller-line"
          = ff.text_area :talent, :rows => 4, :class => "top-margin"
    %fieldset.step
      %legend
        Photos
      %p.left
        =  t("form.upload_note")
      - i = 0
      = f.fields_for :pictures do |ff|
        %p
          - unless resource.new_record?
            = image_tag resource.pictures[i].image.url(:thumb)
            = "Credit - #{resource.pictures[i].credit}"
          - i += 1
          = ff.label :image, "Photo #{i}"
          - if resource.new_record? || ff.object.image_file_name.nil?
            = ff.file_field :image, :class => "required select-other"
            = ff.label :credit
            = ff.text_field :credit, :maxlength => i_size
      - if resource.new_record?
        %p.left
          = t("form.encourage_note")
          %br
          %br
          = t("form.photo_limit_note")
        = f.fields_for :member_summary do |ff|
          %p.left
            = ff.check_box :staffing
            = t("form.contact_note")
        %p.left
          = check_box_tag :accept_ror, 'yes', false, :class => 'required-for-submit'
          I agree to the
          = link_to("Miss UPROAR Rules and Regulations", rules_url, :target => "_blank", :class => "outside")
          %br/
          %br/
          = check_box_tag :accept_tc, 'yes', false, :class => 'required-for-submit'
          I agree to the
          = link_to("Miss UPROAR Terms and Conditions", terms_url, :target => "_blank", :class => "outside")
        = recaptcha_tags
      %p.submit
        - if resource.new_record?
          = f.submit "Register", :id => "register-button", :class => "hidden"
        - else
          = f.submit "Update", :id => "register-button"
= content_for(:footer,javascript_include_tag("sliding.form"))