- content_for :main_class do
  = "welcome"

#content
  #info
    = t "welcome.intro_html", :href => link_to("Rockstar Energy Drink UPROAR Festival", "http://www.rockstaruproar.com")
    %span.yellow
      Miss UPROAR 2011.
    %br
    %br
    Grand Prize includes:
    %br
    = t "welcome.grand_prize_description_html"
    %br
    %br
    Just click on the button below to get started!
    = link_to url_for(:action=>"new", :controller=>"members/registrations") do
      #button

    = link_to new_member_registration_url do
      #button

