=form_tag(filter_home_path) do
  %div
    %span Sort By:
    = select_tag(:city, options_for_select(build_city_filter_options(@locations),@city), :include_blank => 'City')
    = select_tag(:rating, options_for_select(build_rating_filter_options,@rating), :include_blank => 'Rating')
    = select_tag(:level, options_for_select(build_level_filter_options,@level), :include_blank => 'Level')
    = submit_tag("Go")

%div
  - @members.each do |m|
    %div
      = "#{m.first_name} - #{m.average_rating}"

