%p
  %b Name:
  = @event.name

%p
  %b Description:
  = @event.description

%p
  %b Start:
  = @event.start

%p
  %b End:
  = @event.end

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
