%h2
  Edit Profile
= form_for(@member, :url => update_profile_path, :html => { :method => :put, :multipart => true }) do |f|
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label :first_name
    %br/
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br/
    = f.text_field :last_name
  %p
    = f.label :profile_name
    %br/
    = f.text_field :profile_name
  - @index = 0
  = f.fields_for :pictures do |ff|
    - unless @member.pictures[@index].new_record?
      %p
        = image_tag @member.pictures[@index].image.url(:small)
      %br
    = ff.file_field :image
    - @index += 1
  %p
    = f.submit "Update"

%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(:member), :confirm => "Are you sure?", :method => :delete}.
= link_to "Back", :back