%p
  %b Email:
  = @member.email
%p
  %b First Name:
  = @member.first_name
%p
  %b Last Name:
  = @member.last_name
%p
  %b Unique Profile Name:
  = "http://#{@host}/profiles/#{@member.profile_name}"
- @member.pictures.each do |p|
  %p
    = image_tag p.image.url(:small)
%br
%br

= link_to 'Edit', edit_profile_path