- if @member
  .top-margin
    %p
      = @member.first_name
    %p
      = @member.member_summary.location_display
  %div
    = link_to "Read My Bio", "member-bio"

  .voting-container
    - 1.upto(10) do |i|
      .voter
        = build_vote_link(@member,i)
  .big-picture.top-margin
    = image_tag @member.pictures.first.image.url(:watermarked)
  .small-pictures
    - @member.pictures.each do |p|
      = image_tag p.image.url(:small), :"data-watermark" => p.image.url(:watermarked)
  .share-links.float-left
    <iframe src="http://www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>

- else
  %p
    %b No User Found