#content2
  - if @member
    .profileTopArea
      .top-margin
        %h1
          = @member.first_name.titleize
        .profileTopHometown
          = @member.member_summary.location_display
      %div
        = link_to "Read My Bio", "#member-bio"

      - if admin_signed_in?
        .admin-member-actions
          %h2= "This Member is #{@member.state.titleize}"
          = link_to("Activate", member_activate_path(@member), :method => :post, :class => :button) if @member.pending?
          = link_to("Reject", member_reject_path(@member), :method => :post, :class => :button) unless @member.rejected?
          = link_to("Refresh", member_refresh_path(@member), :method => :post, :class => :button) if @member.rejected?

      .voting-container
        %ul
          - 1.upto(10) do |i|
            %li
              = build_vote_link(@member,i)
      .big-picture-area.top-margin
        - unless @previous.nil?
          = profile_link(image_tag("/images/profile/prevArrow.png", :class => :arrowIcon),@previous,"float-left")
          .previousProfile.float-left
            = profile_link(@previous.first_name.titleize,@previous,"thumbName")
            .pNThumb{:style => "background:#fff"}
              = profile_link(image_tag(@previous.pictures.first.image.url(:cthumb)),@previous)
            = profile_link("Previous Model",@previous,"pNLink")
            %h2
              - if @voted
                = number_with_precision(@previous.average_rating, :precision => 1)
        - else
          .previousProfile.float-left
        %a.right
          = profile_link(image_tag("/images/profile/nextArrow.png", :class => :arrowIcon),@next,:right)
        .previousProfile.right
          = profile_link(@next.first_name.titleize,@next,"thumbName")
          .pNThumb{:style => "background:#fff"}
            = profile_link(image_tag(@next.pictures.first.image.url(:cthumb)),@next)
          = profile_link("Next Model",@next,"pNLink")
        .big-picture
          = image_tag @member.pictures.first.image.url(:watermarked)
      .small-pictures
        - @member.pictures.each do |p|
          = image_tag p.image.url(:cthumb), :"data-watermark" => p.image.url(:watermarked)
    .share-links
      .left 
        <iframe src="http://www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
    .clear
      %a{:name => "member-bio"}
      .profileBio
        %h1 #{@member.first_name.titleize}'s Bio
        %table
          %tr
            %td Height
            %td
              = "#{@member.member_summary.height_feet}' #{@member.member_summary.height_inches}\""
          %tr
            %td Weight
            %td #{@member.member_summary.weight}
          %tr
            %td Eye Color
            %td #{@member.member_summary.eyes}
          %tr
            %td Hair Color
            %td #{@member.member_summary.hair_color}
          %tr
            %td Measurements
            %td
              = join_measurements(@member.member_summary.bust,@member.member_summary.waist,@member.member_summary.hips)
          %tr
            %td Piercings
            %td
              = "#{@member.member_summary.piercings}"
              - if @member.member_summary.piercings == "yes" && !@member.member_summary.piercing_description.blank?
                = "- #{@member.member_summary.piercing_description}"
          %tr
            %td Tattoos
            %td
              = "#{@member.member_summary.tattoos}"
              - if @member.member_summary.tattoos == "yes" && !@member.member_summary.tattoo_description.blank?
                = "- #{@member.member_summary.tattoo_description}"
          %tr
            %td Experience
            %td #{@member.member_summary.experience}
          %tr
            %td First Concert
            %td #{@member.member_summary.first_concert}
          %tr
            %td Last Concert
            %td #{@member.member_summary.last_concert}
          %tr
            %td Top Bands
            %td
              = join_bands(@member.member_summary.top_bands_1,@member.member_summary.top_bands_2,@member.member_summary.top_bands_3)
          %tr
            %td Favorite Song
            %td #{@member.member_summary.favorite_song}
          %tr
            %td Favorite Sport
            %td #{@member.member_summary.favorite_sport}
          %tr
            %td Unique Talent
            %td #{@member.member_summary.talent}
  - else
    %p
      %b No User Found