#content2
  - if @member
    .profileTopArea
      .top-margin
        %h1
          = @member.first_name.titleize
        .profileTopHometown
          = @member.member_summary.location_display
      %div
        = link_to "Read My Bio", "#member-bio"

      - if admin_signed_in?
        .admin-member-actions
          %h2= "This Member is #{@member.state.titleize}"
          = link_to("Activate", member_activate_path(@member), :method => :post, :class => :button) if @member.pending?
          = link_to("Reject", member_reject_path(@member), :method => :post, :class => :button) unless @member.rejected?
          = link_to("Refresh", member_refresh_path(@member), :method => :post, :class => :button) if @member.rejected?

      .voting-container
        %ul
          - 1.upto(10) do |i|
            %li
              - i = "&nbsp;&nbsp;#{i}" if i == 1
              - i = "#{i}&nbsp&nbsp;&nbsp;" if i == 9
              = link_to raw(i),"#" #build_vote_link(@member,i)
      .big-picture-area.top-margin
        %a.float-left
          = image_tag "/images/profile/prevArrow.png", :class => :arrowIcon
        .previousProfile.float-left
          %a.thumbName
            NAME!
          .pNThumb{:style => "background:#fff"}
          %a.pNLink
            Previous Model
        %a.right
          = image_tag "/images/profile/nextArrow.png", :class => :arrowIcon
        .previousProfile.right
          %a.thumbName
            NAME!
          .pNThumb{:style => "background:#fff"}
          %a.pNLink
            Next Model
          %h2
            10.0
        .big-picture
          = image_tag @member.pictures.first.image.url(:watermarked)
      .small-pictures
        - @member.pictures.each do |p|
          = image_tag p.image.url(:cthumb), :"data-watermark" => p.image.url(:watermarked)
    .share-links
      .left 
        <iframe src="http://www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
    .clear
      %a{:name => "member-bio"}
      %h1 Member Info
      %table
        %tr
          %td email
          %td #{@member.email}
        %tr
          %td first name
          %td #{@member.first_name}
        %tr
          %td last name
          %td #{@member.last_name}
        %tr
          %td profile name
          %td #{@member.profile_name}
        - MemberSummary.accessible_attributes.sort{|a,b|a<=>b}.each do |attr|
          %tr
            %td #{attr}
            %td #{@member.member_summary[attr]}
  - else
    %p
      %b No User Found