- if @member
  .top-margin
    %p
      = @member.first_name
    %p
      = @member.member_summary.location_display
  %div
    = link_to "Read My Bio", "member-bio"

  .voting-container
    - 1.upto(10) do |i|
      .voter
        = build_vote_link(@member,i)
  %p
    %b Email:
    = @member.email
  %p
    %b First Name:
    = @member.first_name
  %p
    %b Last Name:
    = @member.last_name
  - @member.pictures.each do |p|
    %p
      = image_tag p.image.url(:small)
- else
  %p
    %b No User Found