.shareButtons
  %iframe{:src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.rockstaruproar.com&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21", :scrolling => "no", :frameborder => "0", :allow_transparency => true, :style => "border:none; overflow:hidden; width:90px; height:21px; margin-left:2px; vertical-align:-1px;"}
  %a{:href => "http://twitter.com/share", :class => "twitter-share-button", :data => {:url => "http://www.rockstarUPROAR.com", :text => "Rockstar Energy Drink UPROAR Festival. #Uproar", :count => "horizontal", :via => "RockstarUPROAR"}}="Tweet"
  %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}

.sort
  = form_tag "/", :method => :get do
    Sort by: &nbsp;&nbsp;
    %span.sort-by
      = select_tag "location-selector", options_for_select(location_drop_down_options, @location)
    %span.sort-by-go
      = link_to "Go", "/", :class => :get_link

.thumbsContainer
  - members.each do |m|
    .thumbBox{:class => "#{m.state}-member"}
      = link_to image_tag(m.pictures.first.image.url(:cthumb)), show_user_profile_path(m.profile_name)
      = link_to m.first_name, show_user_profile_path(m.profile_name), :class => "thumbName"
      %br
      %span.thumbCity="#{m.member_summary.location_display}"
  .clear
  .pagenation
    = paginate members
